body {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}
 .block {
     background-color: cornsilk;
     height: 500px;
     width: 500px;
     text-align: center;
     color: brown;
 }

 form div {
     margin: 20px;
 }
 form div input {
     width: 70%;
     height: 70%;
 }